
body{
    margin: 0;

    padding: 0;
}

.container{
    width: 1000px;

    height: 100vh;
    
    margin: 0 auto;

    padding: 50px 20px;

    background-color: aqua;

    box-sizing: border-box;
}

.container textarea {
    width: 100%;

    box-sizing: border-box;

    font-size: 20px;

    padding: 5px;
}

button{
    cursor: pointer;

    padding: 5px 20px;
}
